@import url("https://unpkg.com/@shgysk8zer0/core-css@2.5.4/rem.css");
@import url("https://unpkg.com/@shgysk8zer0/core-css@2.5.4/element.css");
@import url("https://unpkg.com/@shgysk8zer0/core-css@2.5.4/class-rules.css");
@import url("https://unpkg.com/@shgysk8zer0/core-css@2.5.4/theme/default/index.css");
@import url("https://unpkg.com/@shgysk8zer0/core-css@2.5.4/theme/properties.css");
@import url("https://unpkg.com/@shgysk8zer0/core-css@2.5.4/layout/index.css");

.foo {
	color: blue;

	&:not(:focus-within) {
		visibility: hidden;
	}

	&.bar {
		color: red;

		@media (prefers-color-scheme: dark) {
			& {
				display: none;
			}
		}
	}
}
