/* @import url("https://cdn.kernvalley.us/css/core-css/rem.css"); */
/* @import url("https://cdn.kernvalley.us/css/core-css/element.css"); */
/* @import url("https://cdn.kernvalley.us/css/core-css/class-rules.css"); */
/* @import url("https://cdn.kernvalley.us/css/core-css/theme/default/index.css"); */
/* @import url("https://cdn.kernvalley.us/css/core-css/theme/properties.css"); */
/* @import url("https://cdn.kernvalley.us/css/core-css/layout/index.css"); */

.foo {
	color: blue;

	&.bar {
		color: red;

		@media (prefers-color-scheme: dark) {
			& {
				display: none;
			}
		}
	}
}
